*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    min-width: 280px;
    max-width: 100vw;
    color:var(--dark);
    font-weight: 300;
}
/*Modifiers*/
.hidden{
    opacity: 0 ;
}
.inactive{
    display: none;
}
/*Navbar*/
.navbar{
    padding: 16px;
    box-shadow: 0px 0px 6px rgba(199, 199, 199, .65);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: var(--white);
}
.navbar__menu-icon{
    cursor: pointer;
    transition: .25s ease-out all;
    
}
.navbar__menu-icon.active{
    opacity: .5;
}
.navbar__logo{
    width: 100px;
    
}
.navbar-left, .navbar-right{
    display: flex;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-left ul{
    margin-left: 12px;
    display: none;
}
.navbar-left ul li{
    margin-right: 4px;
}
.navbar-left li a, .navbar-right li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    font-size: var(--sm);
    border-radius: 8px;
    padding: 8px;
    transition: .3s ease-out all;
}
.navbar-left li a:hover, .navbar-right li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar__email{
    color: var(--dark);
    font-size: 12px;
    margin-right: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar__email img{
    transform: rotate(90deg);
    margin-left: 8px;
    width: 5px;
    transition: .3s ease-out all;
}
.navbar__email.active img{
    transform: rotate(270deg);
}
.navbar__cart{
    position: relative;
    cursor: pointer;
}
.navbar__cart div{
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top:-2px;
    right: -1px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    color: var(--dark);
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Login*/
.password, .email, .login, .account{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;   
    padding: 24px;
}

.form-container{
    display: grid;
    grid-template-rows:  auto 1fr auto;
    width: 300px;
    
}
.account .form-container{
    min-height: 100%;
    padding-top: 32px;
}
.email .form-container{
    justify-items: center;
}
.logo{
    width: 180px;
    margin-bottom: 80px;
    justify-self: center;
}
.login .logo{
    margin-bottom: 48px;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;

}
.account .title{
    text-align: left;
    margin-bottom: 32px;
}
.subtitle{
    color: var(--dark);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.email__image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 24px;
}   
.email__image img{
width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
}
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 32px;
}
.account .form{
    justify-content: space-between;
}
.form div{
    display: flex;
    flex-direction: column;
}
.form a{
    text-decoration: none;
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    margin-bottom: 32px;
}
.label{
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 8px;
}
.edit-account .label{
    margin-bottom: 8px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 16px;
}
.resend{
    font-size: var(--sm);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}
.resend span{
    color: var(--very-light-pink);
}
.button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: 500;
    height: 48px;
}
.button--secondary{
    background-color: var(--white);
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.login .button--secondary{
    position: absolute;
    width: inherit;
    bottom: 0;
    margin-bottom: 32px;
}
.edit-account .button--secondary{
    margin-bottom: 32px;
}
.login__button{
    margin-top: 12px;
    margin-bottom: 32px;
}


/*home page*/
.main__container{
    padding: 24px;
    padding-top: 84px;
}
.cards__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap:16px;
    place-content: center;
}
.card{
    width: 140px;
}
.card__image{
    width: 140px;
    height: 140px;
    border-radius: 12px;
    object-fit: cover;
}
.card__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.info__text p:nth-child(1){
    font-weight: 700;
    font-size: var(--md);
    color: var(--black);
}
.info__text p:nth-child(2){
    margin-top: 4px;
    color: var(--dark);
    font-size: var(--sm);
}
.info__image{
    margin: 0;
}
.info__image img{
    width: 32px;
    height: 32px;
}
/*desktop menu*/
.menu--desktop{
    position: absolute;
    background-color: var(--white);
    width: 140px;
    height: auto;
    box-shadow: 0px 0px 6px rgba(199, 199, 199, .65);
    border-radius: 4px;
    padding: 20px;
    z-index: 9;
    right: 52px;
    top: 50px;
    opacity: 1;
    transition: .3s ease-out all;
    
}
.menu--desktop ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

}
.menu--desktop li{
    text-align: right;

}
.menu--desktop li a{
    color: var(--dark);
    font-size: var(--md);
    margin-bottom: 24px;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}
.menu--desktop li:last-child{
    padding-top: 16px;
    border-top: 1px solid var(--text-input-field);

}
.menu--desktop li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 0;
}
/*menu mobile*/
.menu--mobile{
    padding: 24px;
    display: flex;
    width: 100%;

    flex-direction: column;
    top: 60px;
    left: 0px;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    background-color: var(--white);
    transform: translatey(0);
    transition: .3s ease-in-out all;
}
.menu--mobile.inactive{
    transform: translatey(-100%);
}
.menu--mobile .close{
    position: absolute;
    right: 24px;
}
.menu--mobile ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    display: block;
}
.menu--mobile ul:nth-child(1){
    margin: 0;
}
.menu--mobile ul:nth-child(3){
    margin:40px 0 0 0;
}
.menu--mobile ul:nth-child(1){
    border-bottom: 1px solid var(--text-input-field);
}
.menu--mobile li{
    margin-bottom: 24px;
}
.menu--mobile li a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 700;
    font-size: var(--md);

}
.menu--mobile .info__email{
    font-size: var(--sm);
    font-weight: 300;
}
.menu--mobile .info__sing-out{
    font-size: var(--sm);
    color: var(--hospital-green);
}
.menu__info li:first-child{
    margin-bottom: 16px;
}
.menu__info li:last-child{
    margin-bottom: 0;
}
/*my order*/

.my-order{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.my-order .title{
    text-align: left;
    margin-bottom: 32px;
}
.my-order__container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order__content{
    display: flex;
    flex-direction: column;
}
.my-order__resume{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--text-input-field);
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
}
.my-order__resume p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-order__resume p:nth-child(2){
    text-align: end;
}
.my-order__resume p span:nth-child(1){
    font-size: var(--md);
    font-weight: 700;
}
.my-order__resume p span:nth-child(2){
    font-size: var(--sm);
    margin-top: 4px;
    color: var(--very-light-pink);
}
.cart__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.cart__item div{
    display: flex;
    align-items: center;
}
.cart__item figure{
    margin: 0 16px 0 0;
}
.cart__item figure img{
    width: 68px;
    height: 68px;
    border-radius: 12px;
    object-fit: cover;
}
.cart__item div p{
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.cart__item p.price{
    margin-right: 24px;
}
.price{
    font-size: var(--md);
    font-weight: 700;
}



.my-orders{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.my-orders .title{
    text-align: left;
    margin-bottom: 32px;
}
.my-orders__container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-orders__content{
    display: flex;
    flex-direction: column;
}
.my-orders__item{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    margin: 16px 0 8px 0;
    justify-content: space-between;
}
.my-orders__item:first-child{
    margin-top: 0;
}
.my-orders__item:last-child{
    margin-bottom: 0;
}
.my-orders__item p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.my-orders__item div{
    display: flex;
}
.my-orders__item div p{
    margin-right: 16px;
}
.my-orders__item p span:nth-child(1){
    font-size: var(--md);
    font-weight: 700;
}
.my-orders__item p span:nth-child(2){
    font-size: var(--sm);
    margin-top: 4px;
    color: var(--very-light-pink);
}

/*shopping-cart*/
.shopping-cart{
    width: 100%;
    background: var(--white);
    position: fixed;
    right: 0;
    top:60px;
    min-height: calc(100vh - 60px);
    box-shadow: -2px 5px 6px rgba(199, 199, 199, .65);
    z-index: 8;
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: self-end;
    transform: translateX(0);
    transition: .25s ease-out all;
}
.shopping-cart.inactive{
    transform: translateX(100%);
}
.shopping-cart__back{
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    cursor: pointer;
}
.shopping-cart__back img{
    transform: rotate(180deg);
    margin-right: 16px;
}
.shopping-cart__back p{
    font-weight: 700;
    font-size: var(--md);
    color: var(--dark);
}
.shopping-cart__products{
    display: flex;
    flex-direction: column;

}
.products__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.products__item div{
    display: flex;
    align-items: center;
}
.products__item div:nth-child(1) p{
    font-size: var(--sm);
    color: var(--dark);
}
.products__item div:nth-child(2) p{
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
    margin-right: 16px;
}
.products__item div:nth-child(2) img{
    cursor: pointer;
}
.products__item img:nth-child(1){
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 16px;

}

.shopping-cart__total{
    background-color: var(--text-input-field);
    padding: 20px 16px ;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: var(--sm);
}
.shopping-cart__total p:nth-child(2){
    font-size: var(--md);

}
/*product detail*/
.product-detail{
    width: 100%;
    background: var(--white);
    position: fixed;
    right: 0;
    top:60px;
    min-height: calc(100vh - 60px);
    box-shadow: -2px 5px 6px rgba(199, 199, 199, .65);
    z-index: 8;
    transform: translateX(0);
    transition: .25s ease-out all;
}
.product-detail.inactive{
    transform: translateX(100%);
}
.product-detail .close{
    cursor: pointer;
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    padding: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    box-shadow: 0px 0px 6px rgba(199, 199, 199, .8);
}
.product-detail__image{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product__info{
    display: flex;
    flex-direction: column;
    margin: 24px;
}
.product__info p:nth-child(1){
    font-weight: 700;
    font-size: var(--md);
    margin-bottom: 4px;
    color: var(--black);
}
.product__info p:nth-child(2){
    font-size: var(--sm);
    color: var(--black);
    margin-bottom: 16px;
}
.product__info p:nth-child(3){
    font-size: var(--sm);
    color: var(--dark);
}
.product-detail__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 24px 0px;
    width: -webkit-fill-available;
    font-weight: 500;
}
.product-detail__button img{
    margin-right: 8px;
}

