@media (min-width: 640px) {
    .logo{
        display:none;
    }    
    .login .button--secondary{
        position: initial;
        margin-bottom: 0;
    }
    .account .form-container{
        min-height: auto;
        padding-top: 0;
    }
    .edit-account .button--secondary{
        margin-bottom: 0;
    }
}